<div class="container" *ngIf="!post">
  <div class="error">
    There is no such post with ID {{this.postID}}
  </div>
</div>
<div class="container" *ngIf="post">
  <div>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{post.content}}</mat-card-title>
        <mat-card-subtitle>
          By
          <a routerLink="/users/user/{{post.author.username}}">
            {{post.author.username}}
          </a>
        </mat-card-subtitle>
        <mat-card-subtitle>Date: {{post.created_at.toLocaleString()}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
