<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <a>
          Calm Frogs
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li *ngIf="!isLoggedIn">
            <a>
              <span class="label"><a href="/login">Login</a></span>
            </a>
          </li>
          <li *ngIf="!isLoggedIn">
            <a>
              <span class="label"><a href="#">Register</a></span>
            </a>
          </li>
          <li *ngIf="isLoggedIn">
            <a>
              <span class="label"><a href="#">{{user.username | uppercase}}</a></span>
            </a>
          </li>
          <li *ngIf="isLoggedIn">
            <a>
              <span class="label"><a href="#">Discover new users</a> </span>
            </a>
          </li>
          <li *ngIf="isLoggedIn">
            <a>
              <span class="label"><a href="#">Logout</a></span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
