<div class="container" *ngIf="!user">
  <div class="error">
    Something wen't wrong.
  </div>
</div>

<div class="container" *ngIf="user">
  <div class="form">
    <mat-form-field>
      <input matInput placeholder="Search by username" [(ngModel)]="user.username" (ngModelChange)="onChange($event)"
        autocomplete="off">
    </mat-form-field>
  </div>
</div>


<div class="container"
  *ngIf="!usersAndFollowStatus || (usersAndFollowStatus[0] && usersAndFollowStatus[0].length === 0)">
  <div class="error">
    There are not available users.
  </div>
</div>

<div class="container" *ngIf="usersAndFollowStatus && usersAndFollowStatus.length>0">
  <div class="users">
    <cdk-virtual-scroll-viewport itemSize="150">
      <div *cdkVirtualFor="let d of usersAndFollowStatus" class='scrollItem'>
        <div *ngIf="user">
          <p>
            <a routerLink="/users/user/{{d[0].username}}" class='author'>{{d[0].username || 'Loading...'}}</a>
            |
            <span *ngIf="d[1] ==='true'">
              <button mat-flat-button color="primary" (click)="unfollow(d[0])">Unfollow</button>
            </span>
            <span *ngIf="d[1] === 'false'">
              <button mat-flat-button color="primary" (click)="follow(d[0])">Follow</button>
            </span>
            <span *ngIf="d[1] === 'mine'">
              <button mat-flat-button color="primary" routerLink="/users/edit">Edit profile</button>
            </span>
          </p>

          <hr>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
