/* .example-viewport {
  text-align: center;
  height: 60vh;
  border: 1px solid black;
}


.example-item {
  height: 150px;
}

span.author a{
  color: red;
}

a.hashtag {
  color: blue;
}

a.mention {
  color: red;
}

a.mention,
a.hashtag {
  cursor: pointer;
} 
*/


.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form {
  display: flex;
  width: 50%;
  /* border: 1px solid black; */
  padding: 10px;
  margin: 10px;
  justify-content: center;
  background-color: white;
  opacity: 0.85;
}

input {
  opacity: 1;
}

.posts {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  background-color: white;
  opacity: 0.85
}

cdk-virtual-scroll-viewport {
  border: 1px solid blue;
  width: 100%;
}

.scrollItem {
  height: 150px;
}

a.hashtag {
  color: blue;
}

a.mention {
  color: red;
}

a.mention,
a.hashtag {
  cursor: pointer;
} 