<cdk-virtual-scroll-viewport itemSize="150" class="example-viewport">
  <div *cdkVirtualFor="let post of posts" class="example-item">
    <div *ngIf="post">
      <p>
        {{post.content || 'Loading...'}}
      </p>
      <p>
        <span class='created_at'>
          {{post.created_at}}
        </span> &nbsp;&nbsp;
        By
        <span class='author'>
          <a routerLink="/users/user/{{post.author.username}}">{{post.author.realName}}</a>
        </span>
      </p>
      <hr>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
