@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

a {
  color: rgb(19, 36, 34);
  text-decoration: none;
}


body{
  background-image: url('./assets/img2.png');
  background-repeat: no-repeat;
  background-size: cover;
}